name: CI - Build & Publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18

    - name: Install & Test
      run: |
        npm install
        npm test || true

    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/node-app:${{ github.sha }} .

    - name: Login to Registry
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Push Image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/node-app:${{ github.sha }}

    # - name: Update GitOps Repo
    #   run: |
    #     git clone https://github.com/myorg/gitops-repo.git
    #     cd gitops-repo
    #     sed -i "s|image:.*|image: myorg/node-app:${{ github.sha }}|" apps/node-app/deployment.yaml
    #     git commit -am "Update image to ${{ github.sha }}"
    #     git push
